*{
	margin: 0;
	padding: 0;
}

body {
	background-image: url(./images/background.jpg);
	background-size: auto;
	padding-top: 60px;
}

.headertext {
	font-family: roboto;
	font-size: 25px;
	font-weight: 200;
}

h1 {
	text-align: center;
	backdrop-filter: blur(5px);
}

.headertext p {
	padding: 10px;
	text-align: justify;
	backdrop-filter: blur(30px);
	margin: 5px;
}

.navbar
{
	background-color: rgb(36, 41, 47, 0.9);
	color: white;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
	z-index: 1;
	height: 6%;
}

.navbar-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	font-size: 30px;
}

.navbar-right {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 5%;
	width: 50%;
}
a
{
	color: white;
	text-decoration: none;
}

a:hover {
	color: green;
}

.photo-container {
	display: flex;
	padding: 0 10px;
	margin: 5px 100px;
	box-sizing: border-box;
	flex-direction: column ;
	overflow: hidden;
}


.photo-container img {
	height: 420px;
	width: 420px;
	margin: 0;
	border: white 10px solid;
	margin-left: 150px;
	margin-right: 150px;
}

.left-img {
	margin: 40px;
	align-self: flex-start;
	border-radius: 10%;
	float: left;
	margin-left: 120px;
} 

.right-img {
	margin-right: 40px;
	align-self: flex-end;
	border-radius: 10%;
	float:right; 
	margin-right: 40%;
}


.right-text
{
	display:flex;
	align-items: center;
	height: 400px;
	width: 400px;
}
.almost
{
	font-size: 8px;
}
.left-text
{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 400px;
	margin-left: 150px;
}

.photo-container::after
{
	content: "";
	clear: both;
	display: table;
}

.photo-container p{
	text-align: justify;
	font-size: 20px;
}
