* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../images/background.jpg);
	background-size: auto;
}
.navbar
{
	background-color: rgb(36, 41, 47, 0.9);
	color: white;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
	z-index: 1;
	height: 6%;
}

.navbar-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	font-size: 30px;
}
.almost
{
	font-size: 8px;
}
.navbar-right {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 5%;
	width: 50%;
}

.navbar a
{
	color: white;
	text-decoration: none;
}

a:hover {
	color: green;
}

main{
	display: block;
	width: 50%;
	margin: 0 auto;
	height: 50vh;
	padding-top: 10%;
}

.title
{
	display: flex;
	justify-content: center;
	font-size: 60px;
}

.button-container
{
	position: relative;
	width: 30%;
	display: block;
	margin: 0 auto;
}

button{
	font-size: 15px;
	position: relative;
	width: 80px;
	text-align: center;
}



.talvez, 
.sim,
.nao
{
	display: flex;
	padding: 10px;
	justify-content: center;
}

main p
{
	font-size: 20px;
	padding-right: 5px;
}